* {
    border-radius: 10;
    font-family: "JetBrainsMono Nerd Font", FontAwesome6;
    font-size: 14px;
    padding: 0 0px;
    margin: 0 0px;
}
@define-color bg #252525;
@define-color fg #f9f9f9;

window#waybar {
    background-color: @bg;
    color: @bg;
	transition: background-color .5s ease;
}

/*ВОРКСПЕЙСЫ*/
#workspaces button {
    padding: 0 5px;
    margin: 5 5px;
    background-color: @bg;
    color: #414556;
}
#workspaces button:hover {
    background: #414556;
    color: @bg;
}
#workspaces button.focused {
    background-color: @bg;
    color: @fg;
}
#workspaces button.urgent {
    background-color: #eb4d4b;
}

/*ОСТАЛЬНЫЕ МОДУЛИ*/
#cpu,
#memory,
#window,
#network,
#custom-menu,
#tray,
#language,
#pulseaudio,
#clock {
    padding: 0 10px;
    margin: 5 6px;
    color: @fg;
    background-color: @bg;
}


