 * {
    border: none;
    border-radius: 0;
    font-size: 15px;
    min-height: 0px;
}

 window#waybar {
    background: transparent;
    color: white;
}

tooltip {
	background: #0f0f0f;
	border-radius: 15px;
	border-width: 2px;
	border-style: solid;
	border-color: #171d20;
	}

#workspaces button/*, #custom-menu*/ {
    padding: 5px 10px;
    color: #f0f0f0;
}

#workspaces button.focused {
    color: #0f0f0f;
    background-color: #bde6fb;
    border-radius: 15px;
}

#workspaces button.urgent {
    color: #0f0f0f;
    background-color: #9ec3c4;
    border-radius: 15px;
}

#workspaces button:hover {
	background-color: #bde6fb;
	color: #0f0f0f;
	border-radius: 15px;
}

#custom-power, #custom-menu, #clock, #pulseaudio, #tray, #workspaces {
	background-color: #171d20;
	padding: 5px 10px;
	margin: 5px 0px;
}

#workspaces {
	background-color: #171d20;
	border-radius: 0px 0px 0px 0px;
}
#custom-menu {
	background-color: #171d20;
	border-radius: 15px 0px 0px 15px;
}

#custom-power {
    color: #bde6fb;
    border-radius: 0px 15px 15px 0px;
    margin-right: 10px;
}
