* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, JetBrainsMono, sans-serif;
    font-size: 11px;
}
window#waybar {
    background: rgba(21, 18, 27, 0);
    color: #cdd6f4;
}


tooltip {
    background: #1e1e2e;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}

#workspaces button {
    padding: 5px;
    color: #313244;
    margin-right: 5px;
}

#workspaces button.active {
    color: #a6adc8;
}

#workspaces button.focused {
    color: #a6adc8;
    background: #eba0ac;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: #11111b;
    background: #a6e3a1;
    border-radius: 10px;
}

#workspaces button:hover {
    background: #11111b;
    color: #cdd6f4;
    border-radius: 10px;
}

#custom-alsa,
#window,
#clock,
#workspaces,
#tray {
    background: #211730;
    border-radius: 10px;
    padding-right: 5px;
    padding-left: 5px;
    margin: 3px 3px;
    margin-top: 10px;
}

#workspaces {
    background: #211730;
    border-radius: 10px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
}


#tray {
    border-radius: 10px;
}

#window {
    border-radius: 10px;
    margin-left: 60px;
    margin-right: 60px;
}
